.overlay {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(228, 222, 222, 1);
  }
  
  .overlay.active {
    display: flex;
  }
  
  .overlay__modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #F2F0F9;
  }

  .modal-input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #F4F2FF;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  .modal-input:focus {
    outline: 2px solid #6E6893;
  }
  
  .modal-input_textarea {
    min-height: 111px;
    resize: none;
  }
  .modal__submit {
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    line-height: 19px;
    text-transform: uppercase;
    background: #6D5BD0;
    border-radius: 6px;
    /* Backgrounds/Primary */
  
    color: #FFFFFF;
  }
  
  .modal__submit:hover {
    background-color: #6E6893;
  }
  
  .modal__submit:focus {
    background-color: #6E6893;
  }